// header头部背景色
$headerBgc: #222631;
// 头部logo图标尺寸
$headerLogoSize: 150px;
// 全局背景色
$situationBgc: #fff;
// aside侧边栏背景色
$asideBgc: #ececec;
/* table */
$tbTHH: 43px;
$tbTHTextColor: #858585;
$tbTHTextSize: 16px;
$tbTDH: 43px;
$tbTDTextColor: #2e2e2e;
$tbTDTextSize: 16px;
// 单数行背景色
$tbTRBgc: #f9f9f9;
//鼠标移入-选中背景色
$tbRowHover: #eee;
// 统一按钮属性
$btnfontSize: 14px; 
$btnW: 71px;
$btnH: 31px;
$btnBackground: #2d8cf0;
$btnFontColor: #DEF0F9;
// 弹窗字体属性
$ModelFontSize: 16px;
$ModelColor: #3F3F3F;
$ModelTop: 20%;
$ModelPadding: 30px 20%;
